@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');


@font-face {
    font-family: "Segoe";
    src: local("Segoe"), url(./Segoe-UI.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe";
    src: local("Segoe"), url(./Segoe-UI-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe";
    src: local("Segoe"), url(./Segoe-UI-Bold-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Segoe";
    src: local("Segoe"), url(./Segoe-UI-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}